<p id="notice"><%= notice %></p>

<div class="card text-center mt-4 mb-4">
  <div class="card-body">
    Online now:
    <div id="online_users" class="text-info font-weight-bold"></div>
  </div>
</div>

<h1>Rooms</h1>

<ul class="mt-4 list-unstyled">
  <%= render @rooms %>
</ul>

<div class="mt-2">
  <%= render 'rooms/form', room: @room %>
</div>
